<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!--几个重复的工作由spring来管理，  bean初始化-->
	<bean id="targetConnection" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://192.168.25.130:61616"></property>
	</bean>
	<!-- 通用的connectionfacotry 指定真正使用的连接工厂 -->
	<bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
		<property name="targetConnectionFactory" ref="targetConnection"></property>
	</bean>
	<!-- 接收和发送消息时使用的类 模板对象-->
	<bean class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory"></property>
	</bean>
 	<!--<bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">          &lt;!&ndash;实现类&ndash;&gt;
		<constructor-arg name="name" value="item-change-queue"></constructor-arg>
	</bean>-->
	<bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg name="name" value="item-change-topic"></constructor-arg>
	</bean>

    <!-- 监听器 -->
    <bean id="myMessageListener" class="com.itheima.activemq.spring.MyMessageListener"></bean>
    <!-- 监听容器，作用：启动线程做监听 -->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">   <!--监听容器指定三个东西，1从哪个mq容器去监听，2.取件destination从哪个地方去取，3.监听器，作为接收消息的这一端-->
        <property name="connectionFactory" ref="connectionFactory"></property>
       <!-- <property name="destination" ref="queueDestination"></property> -->
        <property name="destination" ref="topicDestination"></property>
        <property name="messageListener" ref="myMessageListener"></property>
    </bean>

    <bean id="myMessageListener2" class="com.itheima.activemq.spring.MyMessageListener"></bean>
    <!-- 监听容器，作用：启动线程做监听 -->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"></property>
        <property name="destination" ref="topicDestination"></property>
        <property name="messageListener" ref="myMessageListener2"></property>
    </bean>

</beans>
